<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reset Your Password</title>
  </head>
  
  <body>
    <p>Hi there!</p>
    <br/>

    <p>Thank you for signing up.</p>
    <p>To get you started, please click on the button below to confirm your email address. It will only take a couple of seconds.</p>
    <a href="http://localhost:3000/api/user/confirm-email/{{token}}">Confirm your e-mail</a>
    <br/>

    <p>If you didn't submit your email address to join our subscriber list, just ignore this email.</p>
    <br/>
    
    <p>Regards,</p>
    <p>Support team.</p>
  </body>
</html>
